[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sklearn = "*"
pandas = "*"
sklearn_pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.6"
